 * {
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	list-style: none;
	width: 20%;
	color: white;
	background: black;
	font-size: 16pt;
	font-family: "Times New Roman";
	text-align: center;
}
li:hover {
	color: black;
	background: white;
}
body {
background: #551a8b;
text-align: center;
}
#main {
width: 645px;
height: 1550px;
background: #00cadb;margin: 25px auto;
border: dotted 2px #ff00ff;
padding: 5px;
}
h1 {
text-align: center;
font-family: "Times New Roman";
font-size: 26pt;
font-style: italic;
color: #551a8b;
text-shadow: 2px 2px 2px #6300a5;
margin: 5px auto;
} 
#Moist {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Prime {
	text-align: left;
	font-size: 18pt;
	text-decoration: underline;
}
	
#Found {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Conceal {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#FaceWash {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}