body {
background: #1a4876;
text-align: center;
}
#main {
width: 1000px;
height: 10370x;
background: white;
margin: 25px auto;
border: dotted 2px #e10a6f;
padding: 5px;
}
h1 {
text-align: center;
font-family: "Times New Roman";
font-size: 26pt;
font-style: italic;
color: #66ccff;
text-shadow: 2px 2px 2px #6300a5;
margin: 5px auto;
} 