* {
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	list-style: none;
	width: 20%;
	color: white;
	background: black;
	font-size: 16pt;
	font-family: "Times New Roman";
	text-align: center;
}
li:hover {
	color: black;
	background: white;
}
body {
background: #551a8b;
text-align: center;
}
#main {
width: 1000px;
height: 10370x;
background: #00cadb;margin: 25px auto;
border: dotted 2px #ff00ff;
padding: 5px;
}
h1 {
text-align: center;
font-family: "Times New Roman";
font-size: 26pt;
font-style: italic;
color: #551a8b;
text-shadow: 2px 2px 2px #6300a5;
margin: 5px auto;
} 
hr {
height: 2px;
color: #551a8b;
}
p {
font-family: "Garamond";
font-size: 13pt;
text-align: left;
text-indent: 48px;
color: #660066;
margin: 18px auto;
}
#History {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Enjoy {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Types {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Tips {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#h2 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 26pt;
	font-style: italic;
	color: #551a8b;
	text-shadow: 2px 2px 2px #6300a5;
	margin: 5px auto;
}
#Dry {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Dry2 {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Oily {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Oily2 {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Combo {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Combo2 {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Sens{
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Sens2{
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}

#Cruel {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#CruelProducts {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#Rep {
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
#HomeEnd {
	text-align: left;
	font-size: 19pt;
	font-style:BD Merced;
	color:Black
}




* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}